body{
	margin:0;
	padding:0;
	background:#000;
	color:#fff;
	font-family:sans-serif;
	text-align:center;
}

#container{
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

#game-canvas{
	background:rgba(0,50,150,1);
	height:90%;
}